{% load static %}

<div class="row col-md-11 mx-auto bg-light p-3 mt-3">  <!-- 3nd row start or main section start-->
          <div class="col-md-4">
            <h5>Adress</h5> <hr>
            22-B,1<sup>st</sup> floor,Rainbow plaza, <br>
            Shivar garden chauk,Pimple saudagar,<br>
            Pune 411 027, <br>
            Maharastra <br>
          </div>


          <div class="col-md-4">
            <h5>Quick Links</h5><hr>
            <h4> <a href="index.html" class="underline"> home</a>  </h4>
            <h4> <a href="#" class="underline"> About</a>   </h4>
            <h4> <a href="#" class="underline"> Contact</a>  </h4>
            
          </div>
          <div class="col-md-4">
            <h5>Social media</h5><hr>
            
            <span><h5><a href=""><i class="bi bi-linkedin"></i></a></h5></i></span>
            <span><h5><a href=""><i class="bi bi-twitter"></i></a></h5></span>
            <span><h5><a href=""><i class="bi bi-instagram"></i></a></h5></span>
            <span><h5><a href=""><i class="bi bi-facebook"></i></a></h5></span>
            
            
          </div>
          
        </div> <!-- 3nd row end or main section end-->
        




    </div>
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/popper.js' %}"></script>
</body>
</html>